body{
  background:url('Somnath.jpg') no-repeat;
}
.sidebar{
  margin: 0;
  padding:0;
  overflow: hidden;
  list-style-type:none;
}
li{
  float:right;
}
li a{
  text-decoration: none;
  padding: 14px 16px;
  display: block;
  color: ghostwhite;
}
.brand{
  font-family: monospace;
  margin-right:20px;
  color: ghostwhite;
}
.text{
  color: floralwhite;
  margin-top:170px;
  font: 1.5em Monospace;
  animation:fadein 3s;
}
p{
  font-size:10px;
}
button{
  height:50px;
  background: transparent;
  border: 3px solid greenyellow;
  color:white;
  font:0.9rem monospace,sans-serif;
  animation:fadein 5s;
}
button:hover{
  background-color:lightblue;
  color:black;
}
.active{
  background-color: navy;
  border-radius:15px;
}
.active a{
  color:white;
}
@keyframes fadein{
  0%{opacity:0;}
  100%{opacity:1;}
}